.card{
    max-width: 600px;
    margin: 10px auto;
    box-shadow: 0 5px 10px #888;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff2ed;
    transition-duration: 0.4s;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px #000;
}
.logo{
    width: 70px;
  }
.title{
    font-size: 1.5rem;
    color: #000;
}
.date{
    font-size: 1rem;
    color: #727272;
}
.position{
    display: flex;
    justify-content: space-evenly;
}
.team{
    color: #727272;
    font-size: 1.3rem;
    text-decoration: none;
}
.name{
    font-size: 1.5rem;
    color: #f75d20; 
    text-decoration: none;
    transition-duration: 1s;
}
.name:hover{
    opacity: 0.7;
}
.orange{
    font-size: 1.5rem;
    color: #f75d20; 
}
.black{
    font-size: 1rem;
    color: #020202;
    font-weight: 700;
}
